<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin-left: 15px; padding-top: 15px">
    <img src="https://marketclipimages.s3.ap-northeast-2.amazonaws.com/MarketClip_Email_Verification_new_01.jpg"
         loading="lazy" alt="MarketClip 이메일 인증번호 이미지1"
         style="margin-bottom: 0; line-height: 0; padding-bottom: 0; display : block;">
    <div style="width: 1000px; height: 60px; text-align: center; margin-top: 0px; margin-bottom: 0px; background-color: #6760ef">
        <span style="padding-bottom: 0px; color: white; font-size: 35px; font-weight: bold; letter-spacing: 2px; font-family: 'Roboto', sans-serif;"
              th:text="${emailToken}"></span>
    </div>
    <div style="padding-top: 0px">
        <img src="https://marketclipimages.s3.ap-northeast-2.amazonaws.com/MarketClip_Email_Verification_new_02.jpg"
             loading="lazy" alt="MarketClip 이메일 인증번호 이미지2">
    </div>
</div>
</body>
</html>